terraform {
  backend "s3" {
    #     bucket = "your-bucket-name"
    #     region = "us-west-1"
  }
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 4.49"
    }
  }
}


provider "aws" {
  #   profile = "profile-name"
  #   region = "us-west-1"

  #   ## Switch rokeを使用する場合以下も必要
  #   assume_role {
  #     role_arn = "arn:aws:iam::563848776164:role/handson-terraform"
  #   }

  #   ## デフォルトで付与するタグ
  #   default_tags {
  #     tags = {
  #       infra = "handson"
  #     }
  #   }
}
